doctype html
html(lang="en")
  head
    title= Energizei
    script(src='../js/chart-energ.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js')
  body
    canvas(
      id='myChart'
      width='400'
      height='400'
    )

